doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/semantic-	ui@2.3.3/dist/semantic.min.css')
  body
    div(style='background: #f7f7f7 0% 0% no-repeat padding-box; width: 100%; height: 713px; box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; padding-top: 30px;')
      div(style='background: #1d1442 0% 0% no-repeat padding-box; width: 583px; margin: auto; border-radius: 12px;')
        div(style='background: #21232a; padding: 15px 0 14px 29px; border-radius: 12px ')
          img(src='https://du1xtrg0r7yp2.cloudfront.net/nftFiles/userTemplateLogo.png', alt='image', style='width: 220px; height: 50px;')
        div(style='padding: 10px 10px 0 30px;')
          div(style='font: normal normal bold 24px/85px Roboto; color: #ffffff;')
            | Need Help
          div(style='font: normal normal normal 14px/22px Roboto; color: #ffffff;')
            | Email: &nbsp; #{EMAIL}
          div(style='margin-top: 18px; font: normal normal normal 14px/22px Roboto; color: #ffffff;')
            | Topic: &nbsp; #{TOPIC}
          div(style='margin-top: 15px; font: normal normal normal 14px/22px Roboto; color: #ffffff;')
            | Comment: &nbsp; #{COMMENTS}
          br
          br
          div(style='width: 107px; margin-left: 70%; height: 32px; background: transparent linear-gradient(270deg, #53c1f6 0%, #51c3f500 100%) 0% 0% no-repeat padding-box; border-radius: 12px; opacity: 1; cursor: pointer; padding: 10px;')
            button(style='width: 107px;height: 31px;background: transparent linear-gradient(90deg, #55bff6 0%, #24e4e8 100%) 0% 0% no-repeat padding-box; border-radius: 12px; border: none; opacity: 1; cursor: pointer; ')
              span(style='color: #FFFFFF;') Reply 
          br
          br